.Navbar{
    
    background-color: blueviolet;
    margin:2px ;
}
.roundimage{
    margin-top: 10px;
    border-radius: 50%;
    display: block;
  margin-left: auto;
  margin-right: auto;
   clear: both;
}
.btn{
    width: 80px;
    margin-left: auto;
  margin-right: auto;
  background-color: darkslategray;
  color: khaki;
    clear: both;
}
.btn:hover{
    background-color: #53547e;
}
.card{
    width: 100%;
    margin-top: 10px;
    border: 3px solid darkcyan;
}
.userStyle{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 1rem;
}